.header {
    display: flex;
    flex-wrap:wrap;
    font-weight: bold;
    font-size:40px;
}

.logo {
    zoom: 25%;
}

body {
    background-color: white;
}

.siliconValley {
    width: 25%;
    height:25%;
}

#title{
    width:auto;
}

#caption {
    font-size: 20px;
}

#tomImg {
    border-radius: 50%;
    width: 50px;
    height:auto;
}

a {
    color: #0f65ef;
    font-weight: bold;
}

#tom {
    color: grey;
}

.result {
   text-align:center;
}

button {
    margin-top: 10px;
    color: white;
    background-color: red;
    font-size: 40px;
    border-radius: 25px;
    border:3px groove black ;
    font-family: monospace;
}

body{

    margin-left:20px;
}

.Rtitle{
    text-align: left;
    font-size:50px;
}

.Rimage{
    text-align: left;
}

.Rtext{
    text-align: left;
    font-size:25px;
}

.result.button{
    text-align:left;
}